{% extends 'polls/base.html' %}
{% block content %}
{% if object %}
    <h1>{{ object.name }}</h1>
<br>
    <h3>Antwortmöglichkeiten:</h3>
<br>
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endfor %}
{% if not voted %}
    {% if object.choice_set.all %}
         <form action="{% url 'polls:vote' object.slug %}" method="post">
             {% csrf_token %}
             {% for choice in object.choice_set.all %}
             <input type="radio" name="choice" value="{{ choice.id }}"/>
             <label>{{ choice.name }} </label>
             {% endfor %}
             <br><br>
             <input type="submit" value="Antwort absenden"/>
         </form>
    {% else %}
    <h2>Leider gibt es noch keine Antwortmöglichkeiten.</h2>
    {% endif %}
<br><br>
<h3><a href="{% url 'polls:index' %}">Zurück zur Startseite</a></h3>
{% else %}
<p>
    Du hast bereits abgestimmt und kannst dir <a href="{% url 'polls:results' object.slug %}">hier</a> die Ergebnisse ansehen.
</p>
{% endif %}

{% else %}
<h1>Es konnte keine Umfrage ausgegeben werden.</h1>
{% endif %}
{% endblock %}